<div class="container-fluid" style="background-color: lightyellow;">
    <div class="row" style="background-color: #FFBC7A">
        <center> <h3> <b>Post Creation</b></h3> </center>
    </div>
    <div class="row" style="padding: 10px;">
        <button class="btn btn-primary pull-right" {{action 'openModal' 'post-create-modal'}}>Add Post {{fa-icon "plus" size="lg"}}</button>
    </div>
    <div class="row containerScroll">
        {{#each model.postsArray as |post|}}
            {{post-comp post=post editAct="openModal" sendAct="receiveEditObj" delAct="deletePost"}}<br>
        {{/each}}
    </div>
</div>
{{outlet}}
{{outlet 'modal'}}